@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.btn{
    position: relative;
    overflow: hidden;
    display: inline-block;
    outline:none;
    border:none;
    text-transform: capitalize;
    font-size:rem(20);
    line-height: 1;
    padding:em(12) em(28);
    color:$clr-white;
    font-family: $ff-primary;
    @include border-radius(4px);
    @include transition(all, 0.3s, ease);
    z-index: 1;

    @include breakpoint-lg{
        font-size: rem(24);
    }
    @include breakpoint-xxl{
        font-size: rem(28);
    }
    span{
        color:$clr-white;
    }
    &::before{
        content:"";
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        height: 100%;
        transition: bottom 0.3s ease;
        z-index: -1;
    }
    &:hover{
        cursor: pointer;
        span{
            color:$clr-white;
        }
        &::before{
            bottom: 0;
        }
    }

    &--mail{
        @include flex-center-vertical;
        justify-content: flex-end;
        gap: 6px;
        padding:0;

        span{
            font-size: 16px;
            line-height: 1.78;
            font-family: $ff-secondary;
            text-decoration: underline;
            text-transform:lowercase;
            @include breakpoint-xxl{
                font-size: 18px;
            }
        }
    }
}


.btn--primary{
    background: $clr-secondary;
    @include flex-center;
    gap:16px;

    &::before{
        background: $clr-primary;
    }
}


.btn--outline{
    border: 1px solid $clr-primary;
    background-color: $clr-white;
    transition: all 0.3s ease;
    span{
        color:$clr-black;
    }
    &::before{
        background: $clr-secondary;
    }

    &:hover{
        border-color:$clr-secondary;
        span{
            color:$clr-white;
        }
        &::before{
            bottom: 0;
        }
    }
}


.btn--transparent{
    background:transparent;
    @include flex-center-vertical;
    text-transform: uppercase;
    gap:rem(4);
    padding: 0;
    span{
        color:$clr-primary;
    }
    svg{
        path{
            transition:fill 0.3s ease;
        }
    }
    &:hover{
        span{
            color:$clr-secondary;
        }
    }
}

.h-phone-btn{
    span{
        font-size: 18px;
        line-height: 1.6;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        font-family: $ff-secondary;

        @include breakpoint-xxl{
            font-size: rem(20);
        }
    }
}