@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    background: $clr-secondary;
    &__link-title{
        color:$clr-white;
        line-height: 1.11;
        font-size: 22px;
        display: inline-flex;
        @media only screen and (min-width:352px){
            font-size: 24px;
        }
        @include breakpoint-sm{
            font-size: 26px;
        }
        @include breakpoint-md{
            font-size: 28px;
        }
        @include breakpoint-xl{
            font-size: 32px;
        }
        @include breakpoint-xxl{
            font-size: 36px
        }
    }
    &__link{
        position: relative;
        overflow: hidden;
        font-size: rem(16);
        line-height: 2;
        text-transform: capitalize;
        @include link-hover-effect($clr-tertiary, $clr-primary);
        @include breakpoint-md{
            font-size: rem(18);
            line-height: 1.8;
        }
        @include breakpoint-xxl{
            font-size: rem(20);
        }
        
        address{
            @extend .footer__link;
            line-height: 1.65;
            display: inline-flex;
        }

        &:hover{
            background-position: 0 0;
        }
    }
    &__bottom-right-wrapper{
        @include flex-center-vertical;
        gap:16px;

        small{
            color:$clr-white;
            margin-top: 0;
        }
    }
}

.socials-list {
    list-style: none;
    display: flex;
    gap:2rem;
    margin-left: -1rem;
    @include breakpoint-xl{
        margin-left: 0;
        justify-content: flex-end;
    }

    &--contact {
        justify-content: flex-start;
        gap:1rem;

        @include breakpoint-sm{
            gap:2rem;
        }
        @include breakpoint-md{
            gap:3rem;
        }
    }
}

.socials-item{
    @include relative-hidden;
}

.socials-link{
    @include relative-hidden;
    padding:em(10);
    @include border-radius(50%);
    @include flex-center; 
    transition:all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 1;
    span{
        display: flex;
    }
    &::before{
        content:"";
        position: absolute;
        @include full-dimensions;
        background: $clr-primary;
        clip-path: circle(0.0% at 50% 100%);
        transition:clip-path 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        z-index: -1;
    }

    &:hover{
        cursor: pointer;
        &::before{
            clip-path: circle(50% at 50% 50%);
        }
        svg {
            path{
                fill:$clr-white;
            }
        }
    } 

}

.copyright-text-wrapper{
    @include relative-hidden;
    display: inline-flex;
    flex-direction: column;
    @include breakpoint-sm{
        align-items: flex-end;
    }
    @include breakpoint-xl{
        align-items: flex-start;
    }
    small{
        display: inline-flex;
        margin-top: 0;
        font-size: 20px;
        line-height: 1.8;
        text-align: right;
    }
}

.cta-link{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    @include link-hover-effect($clr-tertiary, $clr-primary);
    @media (min-width: 356px){
        gap: 16px;
    }
    @include breakpoint-sm{
        gap: 24px
    }
    @include breakpoint-lg{
        gap: 32px;
    }

    span{
        font-size: rem(24);
        line-height: 1.11;
        font-family: $ff-primary;
        @include breakpoint-sm{
            font-size: rem(26);
        }
        @include breakpoint-md{
            font-size: rem(28);
        }
        @include breakpoint-xl{
            font-size: rem(32);
        }
        @include breakpoint-xxl{
            font-size: rem(36);
        }
    }
    svg{
        path{
            fill:$clr-white;
            transition:fill 0.3s ease;
        }
    }


    &--contact{
        @include link-hover-effect($clr-secondary, $clr-primary);
        svg{
            path{
                fill:$clr-secondary;
                transition:fill 0.3s ease;
            }
        }
    }

    &:hover{
        background-position: 0 0;
        svg{
            path{
                fill:$clr-primary;
            }
        }
    }
}

.copyright-text-wrapper{
    small{
        font-size: 16px;
        line-height: 1.8;
        text-transform: capitalize;
        @include breakpoint-md{
            font-size: 18px;
        }
        @include breakpoint-xxl{
            font-size: 20px;
        }
    }
}

.sitemap-list{
    @include relative-hidden;
    display: flex;
    gap: 0.9rem;
    @media (min-width: 400px){
        gap: 2rem;
    }
    @include breakpoint-xl{
        gap: 1rem;
        justify-content: flex-end;
    }
}


.text-small {
    font-size: 16px;
    line-height: 1.8;

    @include breakpoint-md{
        font-size: 18px;
    }
    @include breakpoint-xxl{
        font-size: 20px;
    }
}

.certfied-list{
    @include relative-hidden;
    @include flex-center-vertical;
    flex-wrap: wrap;
    gap: 16px;
    @include breakpoint-sm{
        gap:22px;
    }
    @include breakpoint-md{
        gap:28px;
    }
    @include breakpoint-lg{
        gap:32px;
    }
    &__item {
        @include flex-center-vertical;
        gap: 10px;
        @include breakpoint-sm{
            gap: 14px;
        }
        span{
            font-size: 16px;
            line-height: 1.56;

            @include breakpoint-xxl{
                font-size: 18px;
            }
        }
    }
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(64);

    @include breakpoint-sm{
        grid-template-columns: repeat(3, 1fr);
       gap: rem(64);
    }
    @include breakpoint-xl{
        gap: rem(80);
        grid-template-columns: repeat(4, 1fr);
    }
}

.steps-grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(64);

    @include breakpoint-sm{
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32);
    }
    @include breakpoint-lg{
        grid-template-columns: repeat(3, 1fr);
        gap: rem(16);
    }
    @include breakpoint-xl{
        grid-template-columns: repeat(4, 1fr);
    }
}